@media screen and (max-width: 700px) {
    header .container_1 {
        display: flex;
        flex-direction: column;
    }

    .Button {
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }

    .git1 {
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }

    .git2 {
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }
}

@media screen and (min-width: 1000px) {
    .Description {
        width: 95%;
    }
}

